.u-section-1 {
  background-image: none;
  min-height: 911px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 60px;
  min-height: 321px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 185px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 628px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/angjoo_efros1.gif");
  background-position: 100% 21.77%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/lightsaber_halo1.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 570px;
  min-height: 223px;
  margin: -779px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 11px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 880px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 518px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 660px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 520px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 320px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 659px;
}

.u-section-2 .u-text-1 {
  width: 427px;
  margin: 47px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 32px;
  margin-bottom: 47px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 481px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 10px 0;
}

.u-section-2 .u-image-1 {
  height: 284px;
  width: 356px;
  margin: 0 auto 0 2px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 2px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0 4px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-image-2 {
  height: 284px;
  width: 356px;
  margin: 0 auto 0 2px;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 2px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0 4px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-2 .u-image-3 {
  height: 284px;
  width: 356px;
  margin: 0 auto 0 2px;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 2px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 396px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 910px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 256px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 256px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 256px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}.u-section-3 {
  background-image: none;
  min-height: 100vh;
}

.u-section-3 .u-group-1 {
  min-height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 80px 21px;
}

.u-section-3 .u-text-1 {
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 6px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-3 .u-image-1 {
  width: 710px;
  height: 399px;
  margin: 48px auto 0;
}

.u-section-3 .u-text-4 {
  width: 727px;
  margin: 34px auto 57px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: -278px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -12px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -303px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -378px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-top: 56px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -37px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 303px;
  }

  .u-section-3 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: -477px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-top: 131px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -99px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1139px;
}

.u-section-4 .u-group-1 {
  margin-top: 15px;
  margin-bottom: 0;
  min-height: 248px;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 80px 21px;
}

.u-section-4 .u-text-1 {
  margin: 1px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-4 .u-image-1 {
  width: 849px;
  height: 326px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 13px 80px 0;
}

.u-section-4 .u-image-2 {
  width: 901px;
  height: 321px;
  margin: 15px auto 0;
}

.u-section-4 .u-list-1 {
  width: 961px;
  margin: -30px auto 15px calc(((100% - 1140px) / 2) + 89px);
}

.u-section-4 .u-repeater-1 {
  min-height: 110px;
  grid-template-columns: calc(33.3333% - 4px) calc(33.3333% - 4px) calc(33.3333% - 4px);
  grid-gap: 6px 6px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: -278px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -12px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 320px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: -29px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1025px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -303px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 276px;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 256px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: 35px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    min-height: 248px;
    grid-template-columns: calc(50% - 3px) calc(50% - 3px);
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 892px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -378px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -37px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 207px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 192px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 744px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -477px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -99px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 130px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 121px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-5 {
  background-image: none;
  min-height: 700px;
}

.u-section-5 .u-group-1 {
  margin-top: 15px;
  margin-bottom: 0;
  min-height: 146px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 80px;
  padding-right: 80px;
}

.u-section-5 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 909px;
  margin: 26px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 487px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 30px 35px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-text-4 {
  margin: 49px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 487px;
  pointer-events: auto;
  background-image: url("images/reversible.gif");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -278px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -12px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 599px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -303px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 386px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 892px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -378px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -37px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 579px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 678px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -477px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -99px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 365px;
  }
}.u-section-6 {
  background-image: none;
  min-height: 1225px;
}

.u-section-6 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 273px;
}

.u-section-6 .u-container-layout-1 {
  padding: 19px 80px 21px;
}

.u-section-6 .u-text-1 {
  margin: 1px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 7px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 13px 80px 0;
}

.u-section-6 .u-text-5 {
  margin: 12px 80px 0;
}

.u-section-6 .u-gallery-1 {
  height: 836px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 13px auto 25px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 1078px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -278px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -12px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: -2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    width: 940px;
    height: 689px;
    margin-top: 0;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 1708px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -303px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
    height: 1319px;
    margin-top: -25px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 3950px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -378px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-top: 56px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -37px;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
    height: 3561px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 2631px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -477px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-top: 131px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -99px;
  }

  .u-section-6 .u-gallery-1 {
    width: 340px;
    height: 2242px;
    margin-top: -50px;
  }
}.u-section-7 {
  background-image: none;
  min-height: 758px;
}

.u-section-7 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 106px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 80px;
  padding-right: 80px;
}

.u-section-7 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 8px auto 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 267px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 19px auto 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-2 {
  height: 247px;
  width: 1140px;
  margin: 18px auto 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-3 {
  margin: 8px 80px 18px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 711px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -278px;
  }

  .u-section-7 .u-gallery-1 {
    width: 940px;
    height: 220px;
  }

  .u-section-7 .u-gallery-2 {
    width: 940px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 997px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -303px;
  }

  .u-section-7 .u-gallery-1 {
    width: 720px;
    height: 506px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-gallery-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1630px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -378px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
    height: 1139px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-gallery-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 1208px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -477px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
    height: 717px;
  }

  .u-section-7 .u-gallery-2 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
  min-height: 858px;
}

.u-section-8 .u-group-1 {
  min-height: 236px;
  width: 1300px;
  margin: 1px 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 554px;
  width: 987px;
  margin: 10px auto 15px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 940px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -278px;
  }

  .u-section-8 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -303px;
  }

  .u-section-8 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -378px;
  }

  .u-section-8 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -477px;
  }

  .u-section-8 .u-gallery-1 {
    width: 340px;
  }
}.u-section-9 {
  background-image: none;
  min-height: 629px;
}

.u-section-9 .u-group-1 {
  min-height: 91px;
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 80px;
  padding-right: 80px;
}

.u-section-9 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-9 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 19px auto 0;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

.u-section-9 .u-text-3 {
  width: 773px;
  margin: 19px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 612px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-9 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 499px;
  }

  .u-section-9 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-9 .u-text-3 {
    width: 340px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 519px;
}

.u-section-10 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-10 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 19px auto 0;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

.u-section-10 .u-text-2 {
  width: 773px;
  margin: 19px auto 30px;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-10 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-10 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 950px;
}

.u-section-11 .u-text-1 {
  margin: 26px auto 0 541px;
}

.u-section-11 .u-text-2 {
  margin: 10px 184px 0;
}

.u-section-11 .u-gallery-1 {
  height: 650px;
  grid-gap: 17px 17px;
  width: 650px;
  margin: 10px auto 60px;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 446px;
  }

  .u-section-11 .u-text-2 {
    width: 773px;
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-11 .u-gallery-1 {
    height: 713px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3502px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 342px;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-gallery-1 {
    height: 2828px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 9158px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 257px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-gallery-1 {
    height: 8484px;
    width: 540px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 6016px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 162px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }

  .u-section-11 .u-gallery-1 {
    height: 5342px;
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-12 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-12 .u-text-2 {
  margin: 10px 184px 0;
}

.u-section-12 .u-group-1 {
  width: 1132px;
  min-height: 379px;
  height: auto;
  margin: 34px auto 0 0;
}

.u-section-12 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-12 .u-image-1 {
  width: 292px;
  height: 320px;
  object-position: 50% 100%;
  margin: 3px auto 0 0;
}

.u-section-12 .u-image-2 {
  width: 297px;
  height: 325px;
  margin: -323px 0 0 auto;
}

.u-section-12 .u-shape-1 {
  width: 49px;
  height: 30px;
  margin: -178px auto 0 302px;
}

.u-section-12 .u-shape-2 {
  width: 49px;
  height: 30px;
  margin: -30px 273px 0 auto;
}

.u-section-12 .u-image-3 {
  width: 437px;
  height: 134px;
  margin: -82px auto 0;
}

.u-section-12 .u-text-3 {
  margin: 75px 840px 0 44px;
}

.u-section-12 .u-text-4 {
  width: 257px;
  margin: -50px auto 0;
}

.u-section-12 .u-text-5 {
  margin: -25px 0 0 875px;
}

.u-section-12 .u-group-2 {
  width: 1132px;
  min-height: 379px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-12 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-12 .u-image-4 {
  width: 292px;
  height: 320px;
  object-position: 50% 100%;
  margin: 3px auto 0 0;
}

.u-section-12 .u-image-5 {
  width: 297px;
  height: 325px;
  margin: -323px 0 0 auto;
}

.u-section-12 .u-shape-3 {
  width: 49px;
  height: 30px;
  margin: -178px auto 0 302px;
}

.u-section-12 .u-shape-4 {
  width: 49px;
  height: 30px;
  margin: -30px 273px 0 auto;
}

.u-section-12 .u-image-6 {
  width: 437px;
  height: 134px;
  margin: -82px 336px 0 auto;
}

.u-section-12 .u-text-6 {
  margin: 75px 840px 0 44px;
}

.u-section-12 .u-text-7 {
  width: 257px;
  margin: -50px auto 0;
}

.u-section-12 .u-text-8 {
  margin: -25px 0 0 875px;
}

.u-section-12 .u-text-9 {
  margin: 34px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-2 {
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-12 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-12 .u-text-3 {
    margin-right: 692px;
    margin-left: 0;
  }

  .u-section-12 .u-text-5 {
    margin-left: 683px;
  }

  .u-section-12 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-12 .u-text-6 {
    margin-right: 692px;
    margin-left: 0;
  }

  .u-section-12 .u-text-8 {
    margin-left: 683px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-group-1 {
    width: 720px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 472px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 463px;
  }

  .u-section-12 .u-group-2 {
    width: 720px;
  }

  .u-section-12 .u-image-6 {
    margin-right: 283px;
  }

  .u-section-12 .u-text-6 {
    margin-right: 472px;
  }

  .u-section-12 .u-text-8 {
    margin-left: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-1 {
    width: 540px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 292px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 283px;
  }

  .u-section-12 .u-group-2 {
    width: 540px;
  }

  .u-section-12 .u-image-6 {
    margin-right: 103px;
  }

  .u-section-12 .u-text-6 {
    margin-right: 292px;
  }

  .u-section-12 .u-text-8 {
    margin-left: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-group-1 {
    width: 340px;
  }

  .u-section-12 .u-shape-1 {
    margin-left: 291px;
  }

  .u-section-12 .u-image-3 {
    width: 340px;
    height: 104px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 92px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 83px;
  }

  .u-section-12 .u-group-2 {
    width: 340px;
  }

  .u-section-12 .u-shape-3 {
    margin-left: 291px;
  }

  .u-section-12 .u-image-6 {
    width: 340px;
    height: 104px;
    margin-right: 0;
  }

  .u-section-12 .u-text-6 {
    margin-right: 92px;
  }

  .u-section-12 .u-text-8 {
    margin-left: 83px;
  }
}